.applyNowBtn {
  padding: 10px 0;
  font-size: 13px;
  line-height: 1.5em;
  width: 180px;
  color: #fff;
  background-color: #9c1b35;
  border: none;
}
.applyNowBtn:hover {
  background-color: #000;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-nav {
  gap: 15px;
}
.container-fluid {
  justify-content: space-around !important;
}
.navbar {
  box-shadow: 2px 2px 3px #3333334f;
  padding: 0 !important;
}
.mainLogo {
  width: 180px;
  padding: 3px 7px;
}
